input {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

/* CSS */
button {
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
}

button:hover {
  border-color: #dadce0;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

button:focus {
  border-color: #4285f4;
  outline: none;
}

.signup input {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

/* CSS */
button {
margin: 0 auto;
margin-top: 10px;
margin-bottom: 20px;
background-color: #f8f9fa;
border: 1px solid #f8f9fa;
border-radius: 4px;
color: #3c4043;
cursor: pointer;
font-family: arial,sans-serif;
font-size: 14px;
height: 36px;
line-height: 27px;
min-width: 54px;
padding: 0 16px;
text-align: center;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
white-space: pre;
}

button:hover {
border-color: #dadce0;
box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
color: #202124;
}

button:focus {
border-color: #4285f4;
outline: none;
}

.signup {
width: 30%;
  margin: 30px auto;
  background-color: #D3FCD5;
  border: 3px solid #e3e3e3;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}